{% extends 'base.html' %}

{% block content %}
    <h1>{{ coin.name }} ({{ coin.ticker_symbol }}) Detail</h1>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ coin.name }} ({{ coin.ticker_symbol }})</span>
                    <p><span class="bold">Current Price (USD):</span> {{ coin.current_price_usd }}</p>
                    <p><span class="bold">Market Cap (USD):</span> {{ coin.market_cap_usd }}</p>
                    <p><span class="bold">About:</span> {{ coin.about}} </p>
                </div>

                {% comment %} Edit and Delete buttons {% endcomment %}
                <div class="card-action">
                    <a href="{% url 'coins_delete' coin.id %}">Delete</a>
                    <a href="{% url 'coins_edit' coin.id %}">Edit</a>
                </div>
            </div>
        </div>

        <div class="col s6">
            <form action="{% url 'coins_add_historical_data' coin.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn" type="submit">Add Data</button>
            </form>

            <h4>Historical Data</h4>
            {% if coin.historicaldata_set.count %}
                <table class="striped">
                    <thead>
                        <tr><th>Date</th><th>Open</th><th>Close</th></tr>
                    </thead>
                    <tbody>
                        {% for data in coin.historicaldata_set.all %}
                            <tr>
                                <td>{{ data.date }}</td>
                                <td>{{ data.open }}</td>
                                <td>{{ data.close }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No historical data is available at this time.</p>
            {% endif %}
        </div>
    </div>

        <hr />

        <div class="row">
            <div class="col s6">
                <h3>Trades on</h3>
                {% if coin.exchanges.count %}
                    {% for exchange in coin.exchanges.all %}
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title"><a href="http://{{ exchange.website }}">{{ exchange.name }}</a></span>
                            </div>
                            <div class="card-action">
                                <form action="{% url 'remove_exchange' coin.id exchange.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn" type="submit">Remove</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>This coin is not currently available to trade on any exchange in US.</p>
                {% endif %}
            </div>

            <div class="col s6">
                <h3>Available Exchanges</h3>
                    {% for exchange in remaining_exchanges %}
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title"><a href="http://{{ exchange.website }}">{{ exchange.name }}</a></span>
                            </div>
                            <div class="card-action">
                                <form action="{% url 'add_exchange' coin.id exchange.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn" type="submit">Add</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dates = document.querySelectorAll('#id_date');

            const options = {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true,
            }

            const dateInstances = M.Datepicker.init(dates, options);
        });
    </script>

{% endblock %}